{*
 * This file is part of Nepttune (https://www.peldax.com)
 *
 * Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
 *
 * This software consists of voluntary contributions made by many individuals
 * and is licensed under the MIT license. For more information, see
 * <https://www.peldax.com>.
*}

{contentType application/xml}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    {foreach $pages as $temp}
        <url>
            <loc>{$baseUrl}{plink $temp}</loc>
            {if $hreflang && isset($presenter->translator)}
            <xhtml:link rel="alternate" hreflang="{$presenter->translator->getDefaultLocale()}" href="{$baseUrl}{plink $temp}"/>
            {foreach $presenter->translator->getAvailableLocales() as $locale}
            {continueIf $locale === $presenter->translator->getDefaultLocale()}
            <xhtml:link rel="alternate" hreflang="{$locale}" href="{$baseUrl}{plink $temp, locale => $locale}"/>
            {/foreach}
            <xhtml:link rel="alternate" hreflang="x-default" href="{$baseUrl}{plink $temp}"/>
            {/if}
            <lastmod>{$date}</lastmod>
            <changeFreq>daily</changeFreq>
            <priority>1</priority>
        </url>
    {/foreach}
</urlset>

