{*
 * This file is part of Nepttune (https://www.peldax.com)
 *
 * Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
 *
 * This software consists of voluntary contributions made by many individuals
 * and is licensed under the MIT license. For more information, see
 * <https://www.peldax.com>.
*}

<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {foreach $pages as $temp}
        <url>
            <loc>{$baseUrl}{plink $temp}</loc>
            <lastmod>{$date}</lastmod>
            <changeFreq>daily</changeFreq>
            <priority>1</priority>
        </url>
    {/foreach}
</urlset>
